body{
    text-align:center;
    
}
main{
    padding-top: 260px;
    padding-bottom: 260px;
    margin-left: 80px;
}
button{
    font-size: 50px;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    padding: 16px 30px;
    margin-left: 50px;
    margin-right: 50px;
    
}
hr{
    margin-left: 220px;
    margin-right: 220px;
}

p{
    font-size: 30px;
}